{% extends "base.html" %}
{% block body %}
<div class="main">
	<h1>Movie Database</h1>
	<h2>Add a Movie <span class="status"></span></h2>
	<form action="{% url 'app.views.add_movie' %}" method="post" class="add-movie">
		<dl>
			<dd>Title:</dd>
			<dt><input id="id-title" type="text" size="30" name="title"></dt>
			<dd>Release Year:</dd>
			<dt><input id="id-year" type="text" size="30" name="year"></dt>
			<dd>Genre:</dd>
			<dt><input id="id-genre" type="text" size="30" name="genre"></dt>
			<dd><input class="add" type="submit" value="Add"></dd>
		</dl>
	</form>
	<h2>All Movies</h2>
	<ol class="movies">
	{% for movie in movies %}
		<li data-id="{{ movie.id }}"><span class="title"><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></span> ({{ movie.year }}) - {{ movie.genre}}<a class="delete">X</a></li>
	{% endfor %}
	</ol>
	<div class="noMovies"><em>No movies yet... please, add some below!</em></div>
</div>
{% endblock %}
