line {
  stroke-width: .4px;
}

body {
  padding: 0px 50px;
}

svg {
  border: groove;
  background-color: white;
  width: 100%;
}

#graph-container {
  width: 100%;
  /*height: 500px;*/
}

#graph-col {
  width: 70%;
  float: left;
}

#steps-col > .btn-group-vertical {
  display: table-cell;
  vertical-align: middle;
}

#steps-col {
  width: 25%;
  float: left;
  /*display: table;*/
  height: 100%;
  margin-left: 10px;

}

#setup-bar, #data-bar {
  height: 50px;
  padding-top: 10px;
  width: 100%;
}

.btn-group-justify {
  text-align: justify;
}

.btn-group-justify:first-child{
  margin-left: 30px;
}

.btn-group-justify:last-child{
  margin-right: 30px;
}

.btn-group-justify:after {
    content:""; 
    display:inline-block;
    width:100%
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
}

.axis text {
  display: none;
}

h1 {
  text-align: center;
  font-size: 50px;
}