@font-face {
  font-family: 'UnifrakturMaguntia';
  font-style: normal;
  font-weight: 400;
  src: local('UnifrakturMaguntia'), url('UnifrakturMaguntia'), url(http://themes.googleusercontent.com/static/fonts/unifrakturmaguntia/v4/7KWy3ymCVR_xfAvvcIXm3y22dP_n8Qan8bB-jRkZJJ4.woff) format('woff');
}