body, html {
    height: 100%;
    width: 100%;
}

body {
	padding-top: 20px;
    background: black url(http://www.erikwernquist.com/wanderers/images/gallery/WANDERERS_the_open_road_01.jpg) no-repeat fixed center center;
}

.splash-page {
    margin-top: 10%;
}

.splash-page .panel {
    text-align: center;
    background-color: rgba(242, 242, 242, 0.8);
}